* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Helvetica;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(back.jpg);
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(6px);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.box2 .title {
    display: flex;
    width: 100%;
    color: rgba(255, 255, 255, 0.788);
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 6rem;
}

.navbar {
    display: flex;
    width: 100%;
    height: fit-content;
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.menu-bar {
    display: flex;
    width: 100%;
}

.navbar item {
    cursor: pointer;
    width: fit-content;
    margin: 1rem;
}

.logo-main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-l {
    margin: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;

    && img {
        width: 40%;
    }
}

.check {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.start form {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background: rgba(255, 255, 255, .08);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: .9rem;
    backdrop-filter: blur(8px);
    color: rgba(126, 126, 126, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

.start form .inputs {
    display: flex;
    justify-content: space-between;
    color: #00000041;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));

    && p {
        font-size: 25px;
    }

    && input {
        margin: .6rem .1rem .6rem .1rem;
        border-radius: 2rem;
        width: 100%;
        padding: .6rem .9rem .6rem .9rem;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
}

.start form .button {
    display: flex;
    width: 100%;
    justify-content: center;

    && button {
        font-size: 1rem;
        width: 50%;
        padding: .6rem;
        border: none;
        border-radius: 3rem;
        background-color: #1180ffa1;
        color: white;
        cursor: pointer;
    }

    && button:hover {
        background-color: #1180ffd2;
    }
}

.start form h2 {
    font-weight: 550;
    font-size: 3rem;
}